*.pyc
*.DS_Store
dist/*
*.egg-info
venv
venv3
example/db.sqlite3
example/example/settings-test.py
s3direct/static/s3direct/dist/index.map
/build
.idea
node_modules
npm-debug.log
.env
.cache
settings.json
.parcel-cache