.s3direct {

}

.s3direct .error {
  margin-top: 10px;
  color: red;
}

.s3direct .progress {
  background: #333;
  width: 200px;
}

.s3direct .file-remove {
  margin-top: 10px;
  text-transform: uppercase;
}

.s3direct .progress,
.s3direct .file-link,
.s3direct .file-remove,
.s3direct .file-input,
.s3direct .error,
.s3direct.form-active.progress-active .file-input {
  display: none;
  // float: left;
  // clear: left;
}

.s3direct.progress-active .progress,
.s3direct.link-active .file-link,
.s3direct.link-active .file-remove,
.s3direct.form-active .file-input,
.s3direct.has-error .error {
  display: block;
}